image: node:22  # 指定使用 Node.js 22 版本
pages:
  stage: deploy
  script:
    - npm install  # 安装依赖
    - npm run build  # 执行构建命令
    - mv dist/* public/  # 移动构建产物到public
  artifacts:
    paths:
      - public 